<h1>View boards</h1>
<br />
<div class="row" data-bind="foreach: boards()">
    <div class="span5">
      <h4><a data-bind="attr: { href: localUrl }"><span data-bind="text: title"></span></a></h4>
      <div class="seats">
        <b data-bind="text: size">1</b> <small>SEATS</small>
      </div>
      <p data-bind="text: duties">Org Duties</p>
    </div>
</div>
<hr />