<h1 data-bind="text: title">Viewing board</h1>
<br />
<div class="leftColumn">
<div class="badge-container">
  <div class="row">
    <ul class="thumbnails list-unstyled">
      <li class="span3">
        <div class="thumbnail" style="padding: 0">
          <div style="padding:4px">
            <div class="colorbar blue"></div>
          </div>
          <div class="caption">
            <p data-bind="text: duties">This description</p>
          </div>
          <div class="modal-footer" style="text-align: left">
            <div class="row-fluid">
              <div class="span4"><b data-bind="text: size">1</b><br/><small>SEATS</small></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>
<div class="rightColumn">
<div class="orgInfo">
  <h3>Meeting Info</h3>
  Meeting dates: <span data-bind="text: meetingDates">N/A</span><br />
  Meeting place: <span data-bind="text: meetingPlace">N/A</span><br />
  Meeting times: <span data-bind="text: meetingTime">N/A</span>
</div>
<div class="openings">
  <!-- ko if: openings().length > 0-->
  <h3>Openings</h3>
  <table>
    <theader>
      <tr>
        <th>Date</th>
        <th>Position</th>
      </tr>
    </theader>
    <tbody data-bind="foreach: openings()">
      <tr>
        <td><span data-bind="date">N/A</span></td>
        <td><span data-bind="position">N/A</span></td>
      </tr>
    </tbody>
  </table>
  <!-- /ko -->
</div>
<div class="members">
  <!-- ko if: members().length > 0-->
  <h3>Members</h3>
  <div data-bind="foreach: members()">
    <div class="member">
      <h5 data-bind="text: name"></h5>
    </div>
  </div>
  <!-- /ko -->
  </div>
</div>
